{
  "root": true,
  "env": {
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "react-app",
    "airbnb",
    "airbnb/hooks",
    "plugin:import/typescript"
  ],
  "plugins": [
    "@typescript-eslint"
  ],
  "rules": {
    "react/jsx-filename-extension": ["error", {
      "extensions": [".js", ".jsx", ".ts", ".tsx"]
    }],
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": ["off"],
    "import/extensions": ["error", "always", {
      "js": "never",
      "mjs": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never"
    }],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "no-console": "off",
    "no-debugger": "off",
    "no-param-reassign": "off",
    "indent": "off",
    "@typescript-eslint/indent": ["error", 2],
    "camelcase": [ "error", {
        "allow": ["^UNSAFE_"]
      }
    ],
    "class-methods-use-this": "off",
    "no-unused-expressions": "off"
  },
  "settings": {
    "import/extensions": [
      ".js",
      ".jsx",
      ".mjs",
      ".ts",
      ".tsx"
    ],
    "import/resolver": {
      "alias": {
        "map": [
          ["@", "./src"]
        ],
        "extensions": [".ts", ".tsx", ".js", ".jsx", ".json"]
      }
    }
  },
  "parserOptions": {
    "project": "./tsconfig.json"
    // "ecmaVersion": 11,
    // "sourceType": "module",
    // "ecmaFeatures": {
    //   "modules": true,
    //   "jsx": true
    // }
  }
}